body {
    background-color: #fafafa;
    font-family: sans-serif;
    padding-top: 5.5em;
}
#controls {
    width: 320px;
    height: 440px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffb;
    border-width: 3px;
    background: #fafa80;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

hr {
    border: 2px solid #cc4;
}

#map_frame {
    width: 640px;
    height: 480px;
    background: #eef;
    margin-left: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fff #bbd #bbd #fff;
    border-width: 1px 5px 5px 1px;
    display: inline-block;
    vertical-align: top;
}

#map {
    width: 100%;
    height: 100%;
}

#selectbox {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: thin solid gray;
}

#measurement_list {
    width: 25em;
    margin: -5px -20px -5px -5px;
}

#new_measurement {
    text-align: right;
}

.caption {
    border: thin solid black;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
}
#selectbox select {

}

input {
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    height: 1.1em;
    vertical-align: bottom;
}

button {
    border: thin solid black;
    background-color: #222;
    color: white;
    margin: 2px;
    padding: 1px;
}

#title {
    margin: 0px;
    width: 100%;
    height: 5em;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #ddd;
    border-bottom: 3px solid #ccc;
    text-align: right;
}

#title p {
    margin-top: -0.1em;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}
h3 {
    text-align: center;
    margin-bottom: 6px;
}

